.students{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.students label {
    font-weight: bold;
}
.students input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

@media (min-width:500px) {
    .students{
        width: 450px;
    }
}