.ModalMessage {
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  position: fixed;
  left: 0;
  bottom: 10vh;
  background-color: rgba(93, 194, 253, 0.7);
  backdrop-filter: blur(2px);
  border: solid 1px rgb(0, 96, 151);
  border-radius:10px;
  line-height: 20px;
  transform: translateX(-100vw);
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 0.7s ease-in-out;

}
.show {
  opacity: 1;
  transform: translateX(10vw);
}
.green {
    color: green;
}
.red {
    color: rgb(156, 19, 19);
}